//============================================================
// Media queries thresholds
//============================================================
$threshold-min-width:       320;
$threshold-mobile-medium:   360;
$threshold-mobile-large:    480;
$threshold-phablet:         600;
$threshold-tablet:          768;
$threshold-desktop-small:   960;
$threshold-desktop-medium: 1280;
$threshold-desktop-large:  1600;
$threshold-desktop-xlarge: 1920;
